##  Inferential Statistics

In [61]:
import random
import numpy as np
from scipy import stats
import seaborn as sns
import pandas as pd
from scipy.stats import chi2_contingency
from IPython.display import Image, display

In [62]:
# TTest

In [63]:
age=[random.randint(1,100) for i in range(100)]
weights=[random.random()*10 for i in range(100)]
sample=[random.choice(weights) for i in range(20) ]
mean=np.mean(weights)
mean

np.float64(5.223835653472353)

In [64]:
ttest,p_value=stats.ttest_1samp(sample,mean)

In [65]:
if p_value>=0.05:
    print("Accept the null hypothesis")
else:
    print("Reject the null hypothesis")

Accept the null hypothesis

In [66]:
sample

[2.4441415988523407,
 0.3234532450217886,
 3.4074849824398323,
 0.1239445339659162,
 6.752942957224945,
 9.42752351961088,
 5.095263449408725,
 9.597008640520833,
 8.328984383048914,
 2.0769129444178294,
 9.805838695499773,
 9.832177550966724,
 2.426688850311065,
 2.426688850311065,
 0.19487195753796427,
 2.021966497899416,
 4.785462894229876,
 9.651966655273348,
 8.916735966197036,
 0.19487195753796427]

In [67]:
ttest

np.float64(-0.3941985677358944)

In [68]:
p_value

np.float64(0.6978238778569653)

## Two group hypothesis

In [69]:
ttest,p_value=stats.ttest_ind(age,weights)
if p_value>=0.05:
    print("Accept the nul hypothesis")
else:
    print("Reject the null hypothesis")

Reject the null hypothesis

In [70]:
p_value

np.float64(4.154621706453826e-32)

In [71]:
ttest

np.float64(14.227879069079778)

## Correlation

In [72]:
data = sns.load_dataset("iris")
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [73]:
numeric_data=data.select_dtypes(include=["float64","int64"])
correlation_matrix=numeric_data.corr()
correlation_matrix

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

## Chi - Square Test

In [74]:
import seaborn as sns
import pandas as pd
from scipy.stats import chi2_contingency
from IPython.display import Image, display

In [75]:
data=sns.load_dataset('tips')
data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [76]:
table=pd.crosstab(data['sex'],data['smoker']).values
table

array([[60, 97],
       [33, 54]])

In [77]:
# calculateing expected values by values

In [78]:
expected=chi2_contingency(table)

In [79]:
expected

Chi2ContingencyResult(statistic=np.float64(0.0), pvalue=np.float64(1.0), dof=1, expected_freq=array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]]))

In [80]:
expected[3]

array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]])

In [81]:
expected=chi2_contingency(table)
expected

Chi2ContingencyResult(statistic=np.float64(0.0), pvalue=np.float64(1.0), dof=1, expected_freq=array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]]))