## Outliers, Skewness

In [1]:
import numpy as np
import pandas as pd

In [3]:
np.random.seed(0)

In [4]:
data = {
    'Age': np.random.normal(30, 10, 10000).tolist(), 
    'Income': np.random.normal(50000, 15000, 10000).tolist(),  
    'Spending_Score': np.random.normal(60, 20, 10000).tolist()  
}

In [5]:
data['Age'].extend([120, 130, 150])  
data['Income'].extend([200000, 300000, 500000]) 
data['Spending_Score'].extend([5, 99, 120])

In [6]:
df=pd.DataFrame(data)

In [7]:
df

              Age         Income  Spending_Score
0       47.640523   46968.244593       66.600918
1       34.001572   37501.534990       59.990400
2       39.787380   76004.003712       76.362318
3       52.408932   52859.735061       68.564274
4       48.675580   47332.844095        9.921054
...           ...            ...             ...
9998    29.670793   34116.031075       79.536877
9999    42.981114   45102.073364       85.110013
10000  120.000000  200000.000000        5.000000
10001  130.000000  300000.000000       99.000000
10002  150.000000  500000.000000      120.000000

[10003 rows x 3 columns]

In [8]:
df.head()

         Age        Income  Spending_Score
0  47.640523  46968.244593       66.600918
1  34.001572  37501.534990       59.990400
2  39.787380  76004.003712       76.362318
3  52.408932  52859.735061       68.564274
4  48.675580  47332.844095        9.921054

## Outliers

In [13]:
def detect_outliers_large(column):
    Q1=df[column].quantile(0.25)
    Q3=df[column].quantile(0.75)
    IQR=Q3-Q1
    lower_bond=Q1 - 1.5 * IQR
    upper_bond=Q3 + 1.5 * IQR
    outliers=df[(df[column]< lower_bond) | (df[column]>upper_bond)]
    return outliers

In [15]:
print(detect_outliers_large('Age'))

              Age         Income  Spending_Score
271      2.274072   46348.060478       81.516312
427      2.603228   68784.035540       53.916671
494     56.962241   37737.494444       39.735798
589     -0.461431   46404.531331       36.650246
685      1.654455   56906.176084       59.632355
...           ...            ...             ...
9849     2.543346   21150.013345       31.243349
9901    58.652035   44474.143355       51.013196
10000  120.000000  200000.000000        5.000000
10001  130.000000  300000.000000       99.000000
10002  150.000000  500000.000000      120.000000

[67 rows x 3 columns]

## Skewness

In [16]:
print(df.skew())

Age               0.359620
Income            2.777153
Spending_Score   -0.037771
dtype: float64

## Kurtosis

In [17]:
print(df.kurt())

Age                3.476649
Income            71.596729
Spending_Score     0.064317
dtype: float64